.wrapper {
    min-height: 100%;
}

.page {
    padding: 90px 0 30px 0;
    max-width: 1200px;
    margin: 0px auto;
}

.page__section {}

.page__section_1 {
    background-color: #794f45;
}

.page__title {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.page__text {
    font-size: 16px;
    line-height: 150%;
}

.page__text p {
    margin: 0 0 20px 0;
}

.page__section_2 {
    background-color: #77608d;
}

.page__sub-title {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.page__section_3 {
    background-color: #7a956b;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #912105;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header__logo {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
}

.header__menu {}

.menu {}

.menu__icon {}

.menu__body {}

.menu__list {}

.menu__list li {
    position: relative;
    margin: 0 0 0 20px;
}

.menu__link {
    color: #fff;
    font-size: 18px;
}
.menu__link:hover{
    text-decoration: underline;
}
.menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
}

.menu__sub-list li {
    margin: 0 0 10px 0;
}

.menu__sub-list li:last-child {
    margin: 0;
}

.menu__sub-link {
    color: #fff;
}

@media (min-width:767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list li {
        padding: 10px 0;
    }
}